@keyframes animate {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.changing-width {
  animation-name: animate;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}
.glass {
  position: absolute;
  width: 1100px;
  height: 500px;
  left: 100px;
  top: 80px;
  border-radius: 49px;

  /* background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  ); */
  box-shadow: 0px 4px 23px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 49px;
}
