@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
html {
  background-color: #0d0d0d;
}
/* div {
  background-color: #0d0d0d;
} */
.custom-glass {
  background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  );
  box-shadow: 0px 4px 23px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 49px;
  border: solid rgba(255, 255, 255, 0.09) 2px;
}
.custom-glass.smrounded {
  border-radius: 20px;
}
