@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
}
html {
  background-color: #0d0d0d;
}
/* div {
  background-color: #0d0d0d;
} */

.large-glass {
  border-radius: 16px;
  background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  );
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 45px;
  border: solid rgba(255, 255, 255, 0.09) 2px;
}

.custom-glass {
  background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  );
  box-shadow: 0px 0px 18px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 49px;
  border: solid rgba(255, 255, 255, 0.09) 2px;
}

.button-glass {
  background: #2e2e2e;
  border: 2px solid rgba(195, 195, 195, 0.99);
  box-shadow: 0px 0px 8px #dcdcdc;
  border-radius: 10px;
}

.profile-glass {
  background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  );
  box-shadow: 0px 4px 23px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  border: solid rgba(255, 255, 255, 0.09) 2px;
}
.custom-glass.smrounded {
  border-radius: 20px;
}

.box-glass {
  background: linear-gradient(
    150.11deg,
    rgba(217, 217, 217, 0.87) -8.45%,
    rgba(255, 255, 255, 0.2175) -8.45%,
    rgba(255, 255, 255, 0.0783) 113.16%
  );
  box-shadow: 0px 4px 23px 10px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 49px;
  border: solid rgba(250, 255, 0, 1) 3px;
}


/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  display: none;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: rgb(21, 147, 115);
  border-radius: 9999px;
  /* visibility: hidden; */
  height: 20px;
  z-index: 10;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Set the height of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  height: 50px;
  border-radius: 3px;
}

/* Set the width of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  width: 6px;
}

/* Set the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Set the color of the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(12, 97, 76);
}